<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>TestEHCache</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AddNews</display-name>
    <servlet-name>AddNews</servlet-name>
    <servlet-class>com.newslive.controller.AddNews</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddNews</servlet-name>
    <url-pattern>/AddNews</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayNews</display-name>
    <servlet-name>DisplayNews</servlet-name>
    <servlet-class>com.newslive.controller.DisplayNews</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayNews</servlet-name>
    <url-pattern>/DisplayNews</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayHeadline</display-name>
    <servlet-name>DisplayHeadline</servlet-name>
    <servlet-class>com.newslive.controller.DisplayHeadline</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayHeadline</servlet-name>
    <url-pattern>/DisplayHeadline</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Statastics</display-name>
    <servlet-name>Statastics</servlet-name>
    <servlet-class>com.newslive.controller.Statastics</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Statastics</servlet-name>
    <url-pattern>/Statastics</url-pattern>
  </servlet-mapping>
</web-app>